apiVersion: kubeflow.org/v1alpha1
kind: PodDefault
metadata:
  name: {{ app_name }}-access-feast
spec:
  desc: Allow access to Feast
  selector:
    matchLabels:
      access-feast: "true"
  env:
    - name: FEAST_FS_YAML_FILE_PATH
      value: "/feast/feature_store.yaml"
  volumeMounts:
    - mountPath: /feast
      name: feature-store-yaml
  volumes:
    - name: feature-store-yaml
      secret:
        secretName: {{ secret_name }}
